.vouchers_container {
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url("/public/talabat.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f5eadf;
}
@media (max-width: 599px) {
  .vouchers_container {
    height: 30vh;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
}
